.header{
    background-color: lime;
    color: #666666;
}

.aboutusheader{
    background-color: red;
    color: black;
}

.button{
    background-color: lime;
    color: blue;
    border: black solid 3px;
    padding: 4px;
}