<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    Hey, this is an ejs file.
    <div class="header">THIS IS MY HEADER</div>

    <%= pageTitle %> <%= description %> <% for (let i = 0; i <=
    fruitList.length; i++){ %>
    <h2><%= fruitList[i] %></h2>
    <%} %>
</body>
</html>